*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-image: url(tool.jpg);
    background-size: cover;
}

header{
   
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}
.center{ /*footer*/
    padding:2%;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    margin-top: 40%;
    
    
}

.myimagecenter{
    text-align: center;
}
.centrarbotones{
    text-align: center;
    
}
.botones{
    /*transform:translateY(-300px);*/
    margin-top:100px;
    padding:10px 12px;
    border-radius: 10px;
    transition: 1s all ease;
    background-color: #15006b;
    color: #ffffff;
    box-shadow: #ffffff;
    cursor: pointer;

}
.botones:hover{
    background: linear-gradient(to right, #159957, #155799);
    transition: 1s all ease;
}

#myImage{
    width:170px;
    height: 170px;
}


/*@Responsive design*/

@media only screen and (min-width:320px) and (max-width:1024px){
    
    body
    {
        background-image: url(tool.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
        .center{
            margin-top: 170%;
            background-color: #15006b;
        }
}

@media only screen and (min-width:1024px) and (max-width:1240px){
    
    

    body
    {
        background-image: url(tool.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
        .center{
            margin-top:70%;
            background-color: #15006b;
        }

}



/*laptop responsive design*/

